*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    font-family: sans-serif;
}

.site-header,
.site-footer {
    background-color:blueviolet;
    color: white;
    text-align: center;
    padding: 20px;
}   
.site-nav{
    background-color:aqua;
    padding: 10px;
}
.site-nav li{
    display: inline-block;
    margin-right: 15px;

}

.site-nav a{
    color:#cc00ff;
    text-decoration: none;
}


.content-wrapper {
  position: relative;
  padding-right: 250px;
}
.main-content {
  padding: 20px;
  width: 100%; 
}
.sidebar {
  position: absolute;
  top: 0;
  right: 0;
  width: 250px; 
  height: 100%; 
  padding: 20px;
  background-color: #f0f0f0;
}

