body{
    background-color: #ffffff;
}

h1{
    color:#8a2be2 ;
}

table{
    border: 1px solid black;
    background-color:#9700d7;
    width: 500px;
    border-spacing: 3px;
    margin-left: auto;
    margin-right: auto;
}
td{
    border: 1px solid black;
    background-image: url(/src/images/rafifa_Copia_200x112.png);
    padding: 10px;
}
th{
    border: 1px solid black;
    background-color:#00ffff;
    padding: 5px;
}